// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-blue: #D4EBF8;
$navy-blue-lighter: #1c58b3;
$light-blue-hover: #eaf0f3;
$medium-blue: #1F509A;
$navy-blue: #0A3981;
$light-orange: #E38E49
