.btn-reserve {
  border-radius: 5px;
  background-color: rgb(247, 183, 130);
}

.btn-search {
  background-color: $light-orange;
  border: $light-orange solid 1px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;

  &:hover {
    background-color: $light-orange-hover;
    border: $light-orange-hover solid 1px;
  }
}

.btn {
  white-space: nowrap;
}
.btn-back {
  background-color: rgb(226, 226, 226);
  border: rgb(207, 207, 207) solid 1px;
  color: rgb(76, 76, 76);
  padding: 5px 10px;
  border-radius: 4px;

}

.btn-45 {
  width: 45%;
}
