.navbar-lewagon {
  justify-content: space-between;
  background: $navy-blue;
  color: $light-blue;
  a {
    font-size: 40px;
    color: $light-blue;
    text-decoration: none;
    &:hover {
      color: $light-blue-hover;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
